@model IEnumerable<SSISApplication.Generator.Models.Tables_tb>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    |
    @Html.ActionLink("controller.cs", "AllCSCtrl")
    |
    @Html.ActionLink("menu in js/service.js", "AllJSMenu")
    |
    @Html.ActionLink("state in js/app.js", "AllJSState")
    |
    @Html.ActionLink("js/ssis/admin/service.js", "AllJSSevice")
    |
    @Html.ActionLink("js/ssis/admin/controller.js", "AllJSCtrl")
    |
    @Html.ActionLink("template.html", "AllHTMLTemp")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Table_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Display_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Use_As)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Table_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Display_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Use_As)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Table_Name }) |
            @Html.ActionLink("Details", "Details", new { id=item.Table_Name }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Table_Name })
        </td>
    </tr>
}

</table>
